@import 'variables/index.scss';

.theme {
  --primary-1: #180e0d;
  --primary-2: #23110f;
  --primary-3: #420808;
  --primary-4: #5c0000;
  --primary-5: #6e0001;
  --primary-6: #81050d;
  --primary-7: #9d1b1c;
  --primary-8: #ca2426;
  --primary-9: #9f1e1e;
  --primary-10: #881214;
  --primary-11: #ff9084;
  --primary-12: #ffcdc5;
  --primary-a1: #f1000008;
  --primary-a2: #f7110014;
  --primary-a3: #fd000035;
  --primary-a4: #fd000051;
  --primary-a5: #ff000064;
  --primary-a6: #ff000978;
  --primary-a7: #ff222496;
  --primary-a8: #fe292cc7;
  --primary-a9: #fe272799;
  --primary-a10: #ff131780;
  --primary-a11: #ff9084;
  --primary-a12: #ffcdc5;
  --primary-contrast: #ffffff;
  --primary-surface: #35110e80;
  --primary-indicator: #9f1e1e;
  --primary-track: #9f1e1e;
  --secondary-1: #fcfcfd;
  --secondary-2: #f9f9fb;
  --secondary-3: #eff0f3;
  --secondary-4: #e7e8ec;
  --secondary-5: #e0e1e6;
  --secondary-6: #d8d9e0;
  --secondary-7: #cdced7;
  --secondary-8: #b9bbc6;
  --secondary-9: #8b8d98;
  --secondary-10: #80828d;
  --secondary-11: #27272a;
  --secondary-12: #1e1f24;
  --secondary-a1: #00005503;
  --secondary-a2: #00005506;
  --secondary-a3: #00104010;
  --secondary-a4: #000b3618;
  --secondary-a5: #0009321f;
  --secondary-a6: #00073527;
  --secondary-a7: #00063332;
  --secondary-a8: #00083046;
  --secondary-a9: #00051d74;
  --secondary-a10: #00051b7f;
  --secondary-a11: #0002119d;
  --secondary-a12: #000107e1;
  --secondary-contrast: #000000;
  --secondary-surface: #ffffffcc;
  --secondary-indicator: #8b8d98;
  --secondary-track: #8b8d98;
  --color-background: #fff;
  --info-light: rgba(#0555cc, 0.05);
  --info-dark: #5c90de;
  --warning-light: rgba(#ccb805, 0.05);
  --warning-dark: #ded15c;
  --danger: #e31313;
  --danger-light: rgba(#f32032, 0.05);
  --danger-dark: rgba(#e31313, 0.61);
  --help-light: rgba(#6f544b, 0.05);
  --help-dark: rgba(#6f544b, 0.61);
  --undefined-light: #bdbdbd;
  --undefined-dark: #8c8c8c;
  --success-light: #2bd345;
  --success-dark: #05cc25;
}
